body {
	padding-top: 70px;
}
.navbar-input-group {
	font-size: 0px; /*removes whitespace between button and input*/
}

.navbar-input-group {
	font-size: 0px; /*removes whitespace between button and input*/
}

.navbar-input-group input {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.navbar-input-group .btn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
}