<!DOCTYPE html>
<html lang="en"	ng-app="DevToolsApp" ng-csp>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="ico/favicon.ico">

		<title>Dev Tools App Wrapper</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/inspectorwrapper.css" rel="stylesheet" type="text/css">
	</head>
	<body ng-controller="DevToolsController">
		<nav style="-webkit-app-region: drag;" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div style="-webkit-app-region: no-drag;" class="navbar-header">
				<a class="navbar-brand" href="#"><img style="vertical-align: middle" src="devtools16.png"/> DevTools App</a>
			</div>
			<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

				<form style="-webkit-app-region: no-drag;" class="navbar-form navbar-left" role="form">
					<div class="form-group">
						<label for="host" class="control-label">http://</label>
						<input ng-model="config.host" class="form-control" placeholder="localhost" size="20">
						<label class="control-label">:</label>
						<input ng-model="config.port" class="form-control" placeholder="9222" size="6">
						<label class="control-label">/#</label>
					</div>
		            <div class="form-group">
		                <div class="input-group" style="width: 400px;">
							<input ng-model="config.devtoolsUrl" type="text" class="form-control" id="devtoolsUrl"/>
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
								</button>
								<ul class="dropdown-menu pull-right" style="background-color: white !important;">
									<li ng-repeat="devtoolsUrl in config.devtoolsUrls">
										<button class="btn btn-default btn-block" style="text-align: left !important; padding-left: 5px;padding-right: 5px;" ng-click="setDevtoolsUrl(devtoolsUrl)">{{devtoolsUrl}}</button>
									</li>
								</ul>
							</div><!-- /btn-group -->
		                </div>
		            </div>
		        </form>
				<ul style="-webkit-app-region: no-drag;" class="nav navbar-nav">
					<li>
						<a ng-click="reconnect()" href="#"><span class="glyphicon glyphicon-play-circle"></span></a>
					</li>
				</ul>
				<ul style="-webkit-app-region: no-drag;" class="nav navbar-nav pull-right">
					<li>
						<a ng-click="info()" href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
					</li>
					<li>
						<a ng-click="exit()" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
					</li>
				</ul>
			</div>
		</nav>
		<webview id="webview" style="width: 700px; height: 600px;" src="https://developers.google.com/chrome-developer-tools/docs/debugger-protocol#remote" />

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/inspectorwrapper.js"></script>
	</body>
</html>